# All files are treated as text files with Unix-style line endings by default
* text eol=lf

# All .bat files are treated as text files with Windows-style line endings by default
*.bat text eol=crlf

# All .cmd files are treated as text files with Windows-style line endings by default
*.cmd text eol=crlf

# All .ini files are treated as text files with Windows-style line endings by default
*.ini text eol=crlf

# Run .png files through Git LFS
*.png filter=lfs diff=lfs merge=lfs -text

# Run .jpeg files through Git LFS
*.jpeg filter=lfs diff=lfs merge=lfs -text

# Run .jpg files through Git LFS
*.jpg filter=lfs diff=lfs merge=lfs -text

# Run .bmp files through Git LFS
*.bmp filter=lfs diff=lfs merge=lfs -text

# Run .gif files through Git LFS
*.gif filter=lfs diff=lfs merge=lfs -text

# Run .ttf files through Git LFS
*.ttf filter=lfs diff=lfs merge=lfs -text

# Run all .jar files through Git LFS
*.jar filter=lfs diff=lfs merge=lfs -text
